<!DOCTYPE html>
<html lang="en">
    <head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
<title>
BPO Services for Different Industries: Logistics, Healthcare, Customs Brokerage, Insurance, Real Estate - Invensis Technologies </title>
    <meta name="ROBOTS" content="index, follow">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="Invensis offers BPO services for different industries including logistics and supply chain, healthcare, customs brokerage, insurance, real estate, chemical &amp; manufacturing, retail and more.">

<meta name="author" content="Invensis technologies">
  <meta name="trustpilot-one-time-domain-verification-id" content="1caffc98-fadd-4522-a698-b3c0e831bb97">
<meta property="fb:app_id" content="520971854721812">

<!--  <meta name="google-site-verification" content="Ls37vLx38Bp4Ed3KuelII1fkYT8fe2VsnVdr1cgGu0A" /> -->
<meta name="google-site-verification" content="s2yZYm6N_GIejZbkjR5z0sBZ9JrYlm0cB4in0wct5FU"> <!-- google -->
<!-- <meta name="google-site-verification" content="fhufRRUPdIpb8LWzIcPwojD_svKxjpJlFkwXlNCITCQ" /> google -->
<meta name="y_key" content="7c4f08c28fed0a37"><!-- Yahoo -->
    <meta name="msvalidate.01" content="A9C464582BF36A43B3C3F838C3325F23"><!-- Bing -->
<meta name="p:domain_verify" content="7d5b7ce2352d966ff538bf5797de72ba"><!-- pin -->


<link rel="canonical" href="https://www.invensis.net/industries">

    <!-- Favicon -->
   <link rel="icon" type="image/x-icon" href="https://www.invensis.net/Front-End/images/favicon.ico">


   <link async="" rel="dns-prefetch" href="https://www.google-analytics.com/analytics.js" as="script">
   <link async="" rel="dns-prefetch" href="https://static.getclicky.com/js" as="script">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet"> -->
<!-- font-awesome icons css -->
<link defer="" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
     <link rel="stylesheet" href="https://www.invensis.net//Front-End/newcss/style.css">
    <link rel="stylesheet" href="https://www.invensis.net//Front-End/newcss/media.css">

<!-- <link async rel="stylesheet" href="https://www.invensis.net/resource/dist/newstyles.css"> -->

    <link defer="" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

  <link defer="" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<link defer="" rel="stylesheet" href="https://www.invensis.net/build/css/intlTelInput.css">
<!-- <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css"
integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" /> -->

</head>
  <!-- Navigation starts -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container submenu-relative">
      <a class="navbar-brand js-scroll-trigger" href="https://www.invensis.net/">
        <img src="https://www.invensis.net/assets/images/logo-white1.svg" alt="invensis" class="img-fluid img-logo logo-white ">
        <img src="https://www.invensis.net/assets/images/logo-black1.svg" alt="invensis" class="img-fluid img-logo logo-black ">
      </a>
	  <a class="search-mobile-icon ser-input dropdown-toggle" id="mainSearch-input1" data-toggle="dropdown">
		<i class="fa fa-search" aria-hidden="true"></i>
	</a>
	<div class="search-full-view dropdown-menu" aria-labelledby="mainSearch-input">
		<form class="mainSearch-form ng-pristine ng-valid">
								<div>
									<div class="input-group mainSearch-input-group">
										<input type="text" class="search form-control mainSearch-input ng-pristine ng-untouched ng-valid" data-ng-model="searchString" placeholder="Enter your search terms" data-ng-keyup="keyupp()">
										<button type="button" class="btn mainSearch-button ripple">
											<i class="fa fa-search mainSearch-searchi" aria-hidden="true"></i>
										</button>
									</div>
									<div class="mainsearch-blockdiv">
										<div class="data-ctrl mCustomScrollbar mainsearch-ul" id="scrollbar1" data-mcs-theme="minimal-dark dark123" data-ng-init="initScrollBar()" style="display: none;">
											<!-- ngRepeat: i in filterItem = (items | searchFor:searchString | limitTo:limit) -->
											<!-- ngIf: !filterItem.length --><div class="mainsearch-noresult-li ng-scope" data-ng-if="!filterItem.length">
												<p class="color-blue mainsearch-noresult-heading">No Results Found</p>
												<p class="mainsearch-noresult-description ng-binding">We were unable to find a match for "" Try searching again by using different or more general keywords and check for spelling errors.</p>
											</div><!-- end ngIf: !filterItem.length -->
										</div>
										<button class="more btn btn-theme-white js-scroll-trigger ripple btn-block" id="sss1" data-ng-click="loadMore()" style="display: none;">Load More!</button>
									</div>
								</div>
							</form>
	</div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
                <span></span>
                <span></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
					<li class="nav-item ">

					<a class="nav-link js-scroll-trigger" href="https://www.invensis.net/business-process-outsourcing-services">
						<div class="mainmenulistings">
							<div class="mainmenu-icondivmenu">
								<div class="mainmenu-bgicon mainmenu-navs-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/Orange_Header_Mobile_Services.svg);"></div>
							</div>
							<div class="mainmenulistings-text">
								<b>Services</b><span>⟶</span>
							</div>
						</div>
					</a>
					<!-- sub-menu -->
											<div class="submenu-ul">
							<div class="row fullwidth-submenu">
								<div class="col-md-4 p-0 submenu-col">
																		<a href="https://www.invensis.net/it-outsourcing-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange-IT_Service.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>IT Services<span>⟶</span></h4>
												<p>{{ all }}</p>
											</div>
										</div>
									</a>
																	<a href="https://www.invensis.net/outsource-finance-accounting-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_F&amp;A_Service.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Finance &amp; Accounting<span>⟶</span></h4>
												<p>F&amp;A services for businesses, augumenting areas such as procurement, record-to-report &amp; financial pla...</p>
											</div>
										</div>
									</a>
																	<a href="https://www.invensis.net/back-office-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_Bank_office_Service.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Back Office BPO Services<span>⟶</span></h4>
												<p>To manage your back office processes seamlessly allowing you to focus on business critical operation...</p>
											</div>
										</div>
									</a>
																	<a href="https://www.invensis.net/call-center-outsourcing-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_Call_Cnter.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Call Center Services<span>⟶</span></h4>
												<p>24x7 customer care and technical IT support call center services tailored to your business requireme...</p>
											</div>
										</div>
									</a>

								</div>
								<div class="col-md-4 p-0 submenu-col">
																		<a href="https://www.invensis.net/outsource-ecommerce-support-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_eCommerce.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>eCommerce Support Services<span>⟶</span></h4>
												<p>Augment your eCommerce efficiency and accelerate time-to-market of products to broaden customer reac...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/corporate-training">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_Training_Development.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Training &amp; Development Services<span>⟶</span></h4>
												<p>Invensis Learning offers corporate training courses for globally recognized certifications to empowe...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/outsource-digital-marketing-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_Digital_marketing.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Digital Marketing Services<span>⟶</span></h4>
												<p>Entire gamut of digital marketing services to drive traffic to your website, generate leads, registe...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/outsource-order-management-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_Oder_Management.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Order Management Services<span>⟶</span></h4>
												<p>End-to-end order management outsourcing services to efficiently manage purchase orders with fast and...</p>
											</div>
										</div>
									</a>
																	</div>
								<div class="col-md-4 p-0 submenu-col">
																		<a href="https://www.invensis.net/analytics-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_Data_Analytics_Services.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Analytics Services<span>⟶</span></h4>
												<p>Discover trends and relationships to predict outcomes and automate business decisions by incorporati...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/finance-accounting-bpo/outsource-insurance-claims-processing-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/services/Orange_Insurance_Claims_service.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Insurance Claims Processing<span>⟶</span></h4>
												<p>Customized solutions that can meet your needs pertaining to claims processing, resulting in fast and...</p>
											</div>
										</div>
									</a>
																											<a href="https://www.invensis.net/healthcare-bpo/outsource-revenue-cycle-management-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/icons/Industry/18/HealthcareBPOService/Orange_Revenue_Cycle_Management.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Revenue Cycle Management Services<span>⟶</span></h4>
												<p>Streamlined, cost-effective medical billing process for accelerated revenue generation cycle and imp...</p>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item ">

					<a class="nav-link js-scroll-trigger" href="https://www.invensis.net/industries">
						<div class="mainmenulistings">
							<div class="mainmenu-icondivmenu">
								<div class="mainmenu-bgicon mainmenu-navs-bgicon2" style="background-image: url(https://www.invensis.net/assets/images/header-icons/Orange_Header_Mobile_Industries.svg);"></div>
							</div>
							<div class="mainmenulistings-text">
								<b>Industries</b><span>⟶</span>
							</div>
						</div>
					</a>



					<!-- sub-menu -->
											<div class="submenu-ul">
							<div class="row fullwidth-submenu">
								<div class="col-md-4 p-0 submenu-col">
																		<a href="https://www.invensis.net/logistics-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Logistic_supply.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Logistics and Supply Chain<span>⟶</span></h4>
												<p>Create a high performance logistics and supply chain business model that drives competitive advantag...</p>
											</div>
										</div>
									</a>
																	<a href="https://www.invensis.net/customs-brokerage-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Custom_Brokerage.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Customs Brokerage<span>⟶</span></h4>
												<p>One stop solution for the entirety of your back office customs duties -  all import and export custo...</p>
											</div>
										</div>
									</a>
																	<a href="https://www.invensis.net/healthcare-bpo">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Healthcare_BPO.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Healthcare <span>⟶</span></h4>
												<p>Improve quality of patient care and get a comprehensive view of healthcare data across various depar...</p>
											</div>
										</div>
									</a>
																	<a href="https://www.invensis.net/outsource-insurance-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Insurance_BPO.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Insurance<span>⟶</span></h4>
												<p>Mitigate risks and frauds with our insurance claims management system which can handle all aspects o...</p>
											</div>
										</div>
									</a>
																</div>
								<div class="col-md-4 p-0 submenu-col">
																		<a href="https://www.invensis.net/chemical-manufacturing">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_chemical_manufacturing.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Chemical and Manufacturing<span>⟶</span></h4>
												<p>Maintain updated records of the toxicological and eco-toxicological data using information classific...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/outsource-real-estate-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Real_Estate_BPO.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Real Estate<span>⟶</span></h4>
												<p>Get customized Real Estate Owned (REO) Process Solutions for your business requirement...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/outsource-retail-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Retail.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Retail<span>⟶</span></h4>
												<p>Build online &amp; offline customer patronage with our wide range of retail services...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/outsource-telecommunications-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Telecommunication.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Telecommunications<span>⟶</span></h4>
												<p>Become a market leader by creating a responsive customer experience business segment...</p>
											</div>
										</div>
									</a>
																	</div>
								<div class="col-md-4 p-0 submenu-col">
																		<a href="https://www.invensis.net/outsource-media-entertainment-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Media_Entertainment.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Media &amp; Entertainment<span>⟶</span></h4>
												<p>Build your  core competencies and streamline support processes, opening new avenues for growth...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/outsource-automotive-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Automotive_BPO.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Automotive<span>⟶</span></h4>
												<p>Capitalise on relevant information technology and technical solutions to benefit your organisation...</p>
											</div>
										</div>
									</a>
																		<a href="https://www.invensis.net/outsource-energy-utilities-bpo-services">
										<div class="nav-div">
											<div class="submenu-icondivmenu">
												<div class="submenu-bgicon submenu-services-bgicon1" style="background-image: url(https://www.invensis.net/assets/images/header-icons/industries/Orange_Energy_Utilities.svg);">
												</div>
											</div>
											<div class="nav-texts">
												<h4>Energy &amp; Utilities<span>⟶</span></h4>
												<p>Unlock solutions across the entire value chain of your portfolio, creating long-lasting growth...</p>
											</div>
										</div>
									</a>
																	</div>
							</div>
						</div>
					</li>
					<!-- <li class="nav-item">
					<a class="nav-link js-scroll-trigger">
						<div class="mainmenulistings">
							<div class="mainmenu-icondivmenu">
								<div class="mainmenu-bgicon mainmenu-navs-bgicon3" style="background-image: url(assets/images/header-icons/Orange_Header_Mobile_Products.svg);"></div>
							</div>
							<div class="mainmenulistings-text">
								Hire Developers<span>&#10230;</span>
							</div>
						</div>
					</a>
					</li> -->
										<li class="nav-item ">
					<a class="nav-link js-scroll-trigger" href="https://www.invensis.net/resource-all">
						<div class="mainmenulistings">
							<div class="mainmenu-icondivmenu">
								<div class="mainmenu-bgicon mainmenu-navs-bgicon4" style="background-image: url(https://www.invensis.net/assets/images/header-icons/Orange_Header_Mobile_Resources.svg);"></div>
							</div>
							<div class="mainmenulistings-text">
								<b>Resources</b><span>⟶</span>
							</div>
						</div>
					</a>

					</li>
					<li class="nav-item ">
					<a class="nav-link js-scroll-trigger" href="https://www.invensis.net/about-us">
						<div class="mainmenulistings">
							<div class="mainmenu-icondivmenu">
								<div class="mainmenu-bgicon mainmenu-navs-bgicon5" style="background-image: url(https://www.invensis.net/assets/images/header-icons/Orange_Header_Mobile_Quality_Compliances.svg);"></div>
							</div>
							<div class="mainmenulistings-text">
								<b>About Invensis</b><span>⟶</span>
							</div>
						</div>
					</a>
					</li>

					<li class="nav-item d-none d-lg-block dropdown-stoppropagation">
						<a class="nav-link js-scroll-trigger ser-input dropdown-toggle" id="mainSearch-input" data-toggle="dropdown">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
						<!-- search full screen block -->
						<div class="search-full-view dropdown-menu d-none d-lg-block" aria-labelledby="mainSearch-input">
							<form class="mainSearch-form ng-pristine ng-valid">
								<div>
									<div class="input-group mainSearch-input-group">
										<input type="text" class="search form-control mainSearch-input ng-pristine ng-untouched ng-valid" data-ng-model="searchString" placeholder="Enter your search terms" data-ng-keyup="keyupp()">
										<button type="button" class="btn mainSearch-button ripple">
											<i class="fa fa-search mainSearch-searchi" aria-hidden="true"></i>
										</button>
									</div>
									<div class="mainsearch-blockdiv">
										<div class="data-ctrl mCustomScrollbar mainsearch-ul" id="scrollbar" data-mcs-theme="minimal-dark dark123" data-ng-init="initScrollBar()" style="display: none;">
											<!-- ngRepeat: i in filterItem = (items | searchFor:searchString | limitTo:limit) -->
											<!-- ngIf: !filterItem.length --><div class="mainsearch-noresult-li ng-scope" data-ng-if="!filterItem.length">
												<p class="color-blue mainsearch-noresult-heading">No Results Found</p>
												<p class="mainsearch-noresult-description ng-binding">We were unable to find a match for "" Try searching again by using different or more general keywords and check for spelling errors.</p>
											</div><!-- end ngIf: !filterItem.length -->
										</div>
										<button class="more btn btn-theme-white js-scroll-trigger ripple btn-block" id="sss" data-ng-click="loadMore()">Load More!</button>
									</div>
								</div>
							</form>
						</div>
						<!-- search full screen block -->
					</li>



					<li class="nav-item last-nav d-none d-lg-block">
						<a class="nav-link js-scroll-trigger ripple" href="https://www.invensis.net/contact-us">CONTACT US <span>⟶</span></a>
					</li>
				</ul>
        <div class="contact-mobile-block">
          <ul class="cont-ul">
            <li class="cont-li1">
              <h4>Would you like to speak to one of our advisers?</h4>
              <p>Just submit your contact details and we’ll be in touch shortly.</p>
              <button class="btn btn-theme-white ripple" data-toggle="modal" data-target="#href-formpopup">Get a Quote <span>⟶</span></button>
              <button class="btn btn-theme-white ripple" onclick="window.location.href='https://www.invensis.net/contact-us'">Contact Us <span>⟶</span></button>
            </li>
            <li class="cont-li2">
              <img src="undefined" data-srcset="https://www.invensis.net//assets/images/mobile_view_contact_vector.svg" alt="contact us - invensis" class="img-fluid img-cont" srcset="https://www.invensis.net//assets/images/mobile_view_contact_vector.svg">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Navigation ends -->
	{% block content %}

	{% endblock %}

	<!--footer bottom starts-->
	<section class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-bottom-block">
          <img src="https://www.invensis.net/assets/images/logo-white1.svg" alt="invensis">
        </div>
        <div class="col-md-4 footer-bottom-block text-center">
          <p><a href="https://www.invensis.net/legal-disclaimer">TERMS OF USE</a> <a href="https://www.invensis.net/trademark-policy">API USE POLICY</a> <a href="https://www.invensis.net/privacy-policy">PRIVACY POLICY</a></p>
          <p>© 2021 Invensis Technologies Pvt Ltd</p>
        </div>
        <div class="col-md-4 footer-bottom-block text-right d-none d-md-block">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/invensis/" target="_blank" rel="nofollow"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/invensis" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/company/invensis" target="_blank" rel="nofollow"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCq4xOlJ4xz6Fw7WcbFkrsUQ" target="_blank" rel="nofollow"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!--footer bottom ends-->

<!--sticky-footer-sec starts-->
	<div class="sticky-footer-sec sticky-footer-sec-show" style="display: block;">
    <div class="container">
      <div class="row row-footer-sticky">
        <div class="col-6 col-md-4 col-footer-sticky d-none d-md-block">
          <a href="mailto:sales@invensis.net">
            <div class="footer-sticky-block">
              <img src="undefined" data-srcset="https://www.invensis.net/assets/images/Black_Email_us.svg" alt="email us - invensis" class="img-footer-sticky1" srcset="https://www.invensis.net/assets/images/Black_Email_us.svg">
              <img src="https://www.invensis.net/assets/images/Orange_Email_us.svg" alt="email us - invensis" class="img-footer-sticky2" style="display: none;">
              <span>Email Us</span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-footer-sticky">
          <a href="#" data-target="#href-formpopup" data-toggle="modal">
            <div class="footer-sticky-block">
              <img src="undefined" data-srcset="https://www.invensis.net/assets/images/Black_Enquire_with_us.svg" alt="enquire us - invensis" class="img-footer-sticky1" srcset="https://www.invensis.net/assets/images/Black_Enquire_with_us.svg">
              <img src="https://www.invensis.net/assets/images/Orange_Enquire_with_us.svg" alt="enquire us - invensis" class="img-footer-sticky2" style="display: none;">
              <span>Enquire with Us</span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-footer-sticky">
          <a href="#" data-target="#href-requestcallback" data-toggle="modal">
            <div class="footer-sticky-block">
              <img src="undefined" data-srcset="https://www.invensis.net/assets/images/Black_Request_a_Call_back.svg" alt="call back us - invensis" class="img-footer-sticky1" srcset="https://www.invensis.net/assets/images/Black_Request_a_Call_back.svg">
              <img src="https://www.invensis.net/assets/images/Orange_Request_a_Call_back.svg" alt="call back us - invensis" class="img-footer-sticky2" style="display: none;">
              <span>Request a Call Back</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

	<!--sticky-footer-sec ends-->

	<!--scroll-to-top starts-->
	<a href="#" class="go-top ripple" style="display: inline;"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
	<!--scroll-to-top ends-->

	</body>
</html>







